[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
pdfminer = "*"
flask = "*"
oauthlib = "*"
flask-cors = "*"

[requires]
python_version = "3.8"
